.container_header{
    background-color:var(--principal-color);
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container_header_img{
    width: 160px;
}

.container_header_img img {
    width: 100%;
}
.container_header_search {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 35px;
}

.container_header_search input {
    height: 100%;
    width: 230px;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.1rem;
    outline: none;
    transition: border-color 0.2s ease;
}

.container_header_search button {
    height: 100%;
    padding: 0 12px;
    background-color: var(--secundary-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.container_header_search button:hover {
    background-color: rgba(251, 130, 6, 0.84); /* cor mais escura no hover */
}